<a href="https://colab.research.google.com/github/rushikeshnaik779/EDA/blob/master/IEE_FRaud_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#from google.colab import drive
#drive.mount('/content/gdrive')

In [ ]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = "/content/gdrive/My Drive/Kaggle"

In [ ]:
#changing the working directory
%cd /content/gdrive/MyDrive/Kaggle
#Check the present working directory using pwd command

/content/gdrive/MyDrive/Kaggle

In [ ]:
%ls

kaggle.json            test_identity.csv     train_identity.csv
sample_submission.csv  test_transaction.csv  train_transaction.csv

In [ ]:
#!kaggle competitions download -c ieee-fraud-detection

In [ ]:
#!unzip \*.zip  && rm *.zip

In [ ]:
%ls

kaggle.json            test_identity.csv     train_identity.csv
sample_submission.csv  test_transaction.csv  train_transaction.csv

In [ ]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
train_identity = pd.read_csv('./train_identity.csv')
test_identity = pd.read_csv('./test_identity.csv')
train_transaction = pd.read_csv('./test_transaction.csv')
test_transaction = pd.read_csv('./test_transaction.csv')

In [63]:
train_transaction.head()

   TransactionID  TransactionDT  TransactionAmt  ... V337  V338  V339
0        3663549       18403224           31.95  ...  NaN   NaN   NaN
1        3663550       18403263           49.00  ...  NaN   NaN   NaN
2        3663551       18403310          171.00  ...  NaN   NaN   NaN
3        3663552       18403310          284.95  ...  NaN   NaN   NaN
4        3663553       18403317           67.95  ...  NaN   NaN   NaN

[5 rows x 393 columns]

In [64]:
import plotly.graph_objs as go
import plotly.tools as tools
from plotly.offline import iplot, init_notebook_mode 
import plotly.figure_factory as ff

init_notebook_mode(connected=True)

In [65]:
from sklearn import preprocessing 
from sklearn.metrics import confusion_matrix, roc_auc_score
from sklearn.model_selection import StratifiedKFold, cross_val_score, KFold

from xgboost import XGBClassifier 
import xgboost as xgb

In [68]:
from hyperopt import fmin, hp, tpe, Trials, space_eval, STATUS_OK, STATUS_RUNNING
from functools import partial 

import os
import gc

In [72]:
from scipy import stats
import scipy as sp

In [69]:
df_id = pd.read_csv('./train_identity.csv')
df_trans = pd.read_csv('./train_transaction.csv')

In [70]:
def resumetable(df):
  print(f"Dataset Shape: {df.shape}")
  summary = pd.DataFrame(df.dtypes, columns=['dtypes'])
  summary = summary.reset_index()
  summary['Name'] = summary['index']
  summary = summary[['Name', 'dtypes']]
  summary['Missing'] = df.isnull().sum().values
  summary['Uniques'] = df.nunique().values
  summary['First Value'] = df.loc[0].values
  summary['Second Value'] = df.loc[1].values
  summary['Third Value'] = df.loc[2].values

  for name in summary['Name'].value_counts().index:
    summary.loc[summary['Name']==name, 'Entropy'] = round(stats.entropy(df[name].value_counts(normalize=True), base=2), 2)

  return summary

In [74]:
print(resumetable(df_id).head())

Dataset Shape: (144233, 41)
            Name   dtypes  Missing  ...  Second Value Third Value Entropy
0  TransactionID    int64        0  ...       2987008     2987010   17.14
1          id_01  float64        0  ...            -5          -5    2.27
2          id_02  float64     3361  ...         98945      191631   16.72
3          id_03  float64    77909  ...           NaN           0    0.32
4          id_04  float64    77909  ...           NaN           0    0.10

[5 rows x 8 columns]

In [ ]:
def reduce_mem_usage(df, verbose=True):
  numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']

  start_mem = df.memory_usage().sum() / 1024 ** 2
  for col in df.columns:
    col_type = df[col].dtypes
    if col_type in numerics:
      c_min =