<a href="https://colab.research.google.com/github/rushikeshnaik779/EDA/blob/master/IEE_FRaud_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = "/content/gdrive/My Drive/Kaggle"

In [ ]:
#changing the working directory
%cd /content/gdrive/MyDrive/Kaggle
#Check the present working directory using pwd command

/content/gdrive/MyDrive/Kaggle

In [ ]:
%ls

kaggle.json            test_identity.csv     train_identity.csv
sample_submission.csv  test_transaction.csv  train_transaction.csv

In [ ]:
#!kaggle competitions download -c ieee-fraud-detection

In [ ]:
#!unzip \*.zip  && rm *.zip

In [ ]:
%ls

kaggle.json            test_identity.csv     train_identity.csv
sample_submission.csv  test_transaction.csv  train_transaction.csv

In [ ]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
train_identity = pd.read_csv('./train_identity.csv')
test_identity = pd.read_csv('./test_identity.csv')
train_transaction = pd.read_csv('./test_transaction.csv')
test_transaction = pd.read_csv('./test_transaction.csv')

In [ ]:
train_transaction.head()

   TransactionID  TransactionDT  TransactionAmt  ... V337  V338  V339
0        3663549       18403224           31.95  ...  NaN   NaN   NaN
1        3663550       18403263           49.00  ...  NaN   NaN   NaN
2        3663551       18403310          171.00  ...  NaN   NaN   NaN
3        3663552       18403310          284.95  ...  NaN   NaN   NaN
4        3663553       18403317           67.95  ...  NaN   NaN   NaN

[5 rows x 393 columns]

In [ ]:
import plotly.graph_objs as go
import plotly.tools as tools
from plotly.offline import iplot, init_notebook_mode 
import plotly.figure_factory as ff

init_notebook_mode(connected=True)

In [ ]:
from sklearn import preprocessing 
from sklearn.metrics import confusion_matrix, roc_auc_score
from sklearn.model_selection import StratifiedKFold, cross_val_score, KFold

from xgboost import XGBClassifier 
import xgboost as xgb

In [ ]:
from hyperopt import fmin, hp, tpe, Trials, space_eval, STATUS_OK, STATUS_RUNNING
from functools import partial 

import os
import gc

In [ ]:
from scipy import stats
import scipy as sp

In [ ]:
df_id = pd.read_csv('./train_identity.csv')
df_trans = pd.read_csv('./train_transaction.csv')

In [ ]:
def resumetable(df):
  print(f"Dataset Shape: {df.shape}")
  summary = pd.DataFrame(df.dtypes, columns=['dtypes'])
  summary = summary.reset_index()
  summary['Name'] = summary['index']
  summary = summary[['Name', 'dtypes']]
  summary['Missing'] = df.isnull().sum().values
  summary['Uniques'] = df.nunique().values
  summary['First Value'] = df.loc[0].values
  summary['Second Value'] = df.loc[1].values
  summary['Third Value'] = df.loc[2].values

  for name in summary['Name'].value_counts().index:
    summary.loc[summary['Name']==name, 'Entropy'] = round(stats.entropy(df[name].value_counts(normalize=True), base=2), 2)

  return summary

In [ ]:
print(resumetable(df_id).head())

Dataset Shape: (144233, 41)
            Name   dtypes  Missing  ...  Second Value Third Value Entropy
0  TransactionID    int64        0  ...       2987008     2987010   17.14
1          id_01  float64        0  ...            -5          -5    2.27
2          id_02  float64     3361  ...         98945      191631   16.72
3          id_03  float64    77909  ...           NaN           0    0.32
4          id_04  float64    77909  ...           NaN           0    0.10

[5 rows x 8 columns]

In [ ]:
## Function to reduce the DF size
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

In [ ]:
print(reduce_mem_usage(df_id))

Mem. usage decreased to 25.86 Mb (42.7% reduction)
        TransactionID  id_01  ...  DeviceType                          DeviceInfo
0             2987004    0.0  ...      mobile       SAMSUNG SM-G892A Build/NRD90M
1             2987008   -5.0  ...      mobile                          iOS Device
2             2987010   -5.0  ...     desktop                             Windows
3             2987011   -5.0  ...     desktop                                 NaN
4             2987016    0.0  ...     desktop                               MacOS
...               ...    ...  ...         ...                                 ...
144228        3577521  -15.0  ...      mobile             F3111 Build/33.3.A.1.97
144229        3577526   -5.0  ...      mobile                 A574BL Build/NMF26F
144230        3577529  -20.0  ...      mobile  Moto E (4) Plus Build/NMA26.42-152
144231        3577531   -5.0  ...     desktop                               MacOS
144232        3577534  -45.0  ...      mobile         RNE-L03 Build/HUAWEIRNE-L03

[144233 rows x 41 columns]

In [ ]:
def CalcOutliers(df_num): 

    # calculating mean and std of the array
    data_mean, data_std = np.mean(df_num), np.std(df_num)

    # seting the cut line to both higher and lower values
    # You can change this value
    cut = data_std * 3

    #Calculating the higher and lower cut values
    lower, upper = data_mean - cut, data_mean + cut

    # creating an array of lower, higher and total outlier values 
    outliers_lower = [x for x in df_num if x < lower]
    outliers_higher = [x for x in df_num if x > upper]
    outliers_total = [x for x in df_num if x < lower or x > upper]

    # array without outlier values
    outliers_removed = [x for x in df_num if x > lower and x < upper]
    
    print('Identified lowest outliers: %d' % len(outliers_lower)) # printing total number of values in lower cut of outliers
    print('Identified upper outliers: %d' % len(outliers_higher)) # printing total number of values in higher cut of outliers
    print('Total outlier observations: %d' % len(outliers_total)) # printing total number of values outliers of both sides
    print('Non-outlier observations: %d' % len(outliers_removed)) # printing total number of non outlier values
    print("Total percentual of Outliers: ", round((len(outliers_total) / len(outliers_removed) )*100, 4)) # Percentual of outliers in points
    
    return

In [ ]:
## REducing memory
df_trans = reduce_mem_usage(df_trans)
df_id = reduce_mem_usage(df_id)

Mem. usage decreased to 542.35 Mb (69.4% reduction)
Mem. usage decreased to 25.86 Mb (0.0% reduction)

In [ ]:
resumetable(df_trans)[:25]

Dataset Shape: (590540, 394)

              Name   dtypes  Missing  ...  Second Value  Third Value Entropy
0    TransactionID    int32        0  ...       2987001      2987002   19.17
1          isFraud     int8        0  ...             0            0    0.22
2    TransactionDT    int32        0  ...         86401        86469   19.11
3   TransactionAmt  float16        0  ...            29           59    8.10
4        ProductCD   object        0  ...             W            W    1.28
5            card1    int16        0  ...          2755         4663    9.97
6            card2  float16     8933  ...           404          490    6.32
7            card3  float16     1565  ...           150          150    0.68
8            card4   object     1577  ...    mastercard         visa    1.09
9            card5  float16     4259  ...           102          166    2.66
10           card6   object     1571  ...        credit        debit    0.82
11           addr1  float16    65706  ...           325          330    5.06
12           addr2  float16    65706  ...            87           87    0.08
13           dist1  float16   352271  ...           NaN          287    6.33
14           dist2  float16   552913  ...           NaN          NaN    7.41
15   P_emaildomain   object    94456  ...     gmail.com  outlook.com    2.68
16   R_emaildomain   object   453249  ...           NaN          NaN    2.76
17              C1  float16        0  ...             1            1    2.72
18              C2  float16        0  ...             1            1    2.75
19              C3  float16        0  ...             0            0    0.04
20              C4  float16        0  ...             0            0    1.12
21              C5  float16        0  ...             0            0    2.06
22              C6  float16        0  ...             1            1    2.52
23              C7  float16        0  ...             0            0    0.71
24              C8  float16        0  ...             0            0    1.25

[25 rows x 8 columns]

In [ ]:
df_trans.head()

   TransactionID  isFraud  TransactionDT  ...  V337 V338  V339
0        2987000        0          86400  ...   NaN  NaN   NaN
1        2987001        0          86401  ...   NaN  NaN   NaN
2        2987002        0          86469  ...   NaN  NaN   NaN
3        2987003        0          86499  ...   NaN  NaN   NaN
4        2987004        0          86506  ...   0.0  0.0   0.0

[5 rows x 394 columns]