<a href="https://colab.research.google.com/github/rushikeshnaik779/EDA/blob/master/Simple_EDA__Rooftop_Drinking_Water_Tank_Inspection_Results.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Steps to perform EDA (by srikanth bhaiyya) 


1. Univariate Data Analysis :
   -  numercial - check Distribution, plot : boxplot and Histogram, find missing values.
   - categorical - Check freq_distribution and plot : bar chart and pie chart.
   - dates - feature extraction i.e. [hr, day, (week, month[plot:line graph]) &  qtr plot : hist]
   - Find missing values 
   - outliers 
   constant values = only one values i.e dataset will be of 99% with one value but with due to some error 1 % will be another data

2. Multivariate Analysis :
   - numerical vs numerical : plot = scatter plot  
   - categorical vs categorical : plot =  cluster plot or bar chart
   - numerical vs categorical and categorical vs numerical: plot = x-axis [box plot]

3. Sometimes you may need to convert numerical data to categorical data i.e ( in this we will create bins and freq of the data will contain the bin value and will plot as histogram) 


4. Relationships and distributions 
    - if two numericals are present then use corr() or scatterplot 
    - if two categoricals are present the ues association - chi square test 

- distributions 
-  outliers 

- check for type 1 error 
- check for type 2 error


(to read about supply & demand concept), 
( out of control factors )

In [1]:
from google.colab import files 
uploaded = files.upload()
import io

Saving rooftop-drinking-water-tank-inspection-results-1.csv to rooftop-drinking-water-tank-inspection-results-1.csv

In [3]:
# importing libraries required for data manipulation and data visualization
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [4]:
data = pd.read_csv(io.BytesIO(uploaded['rooftop-drinking-water-tank-inspection-results-1.csv']))

### Rooftop Drinking Water Tank Inspection Results
- NYC Health Code requires that building drinking water storage tanks be inspected annually and that the results of these inspections be reported to the Health Department (NYC DOHMH). To report specific inspection findings related to public safety and sanitary conditions, owners or their representatives fill out a questionnaire provided by DOHMH. This dataset is the non-administrative subset of owner-reported information. Reported data have not been verified by a City Agency

In [5]:
# glimpse of the data 
data.head()

       BIN  ...              BATCH_DATE
0  1034025  ...  05/11/2018 12:15:22 PM
1  1087485  ...  05/11/2018 12:15:29 PM
2  1082711  ...  05/11/2018 12:15:29 PM
3  1038647  ...  05/11/2018 12:15:23 PM
4  1088817  ...  05/11/2018 12:15:27 PM

[5 rows x 48 columns]

In [12]:
print('The rows and columns present in the dataset are ', data.shape)

The rows and columns present in the dataset are  (13484, 48)

### Data Description :

- BIN :Department of Buildings Building Identification Number
- BOROUGH : Borough of Water tank location
- ZIP : Zip of Water tank location
- HOUSE_NUM	: Number on street of water tank location
- STREET_NAME : street of water tank location
- BLOCK	: DOB block number of water tank location
- LOT : DOB lot number of water tank location
- CONFIRMATION_NUM : Provided by DOHMH upon certification
- REPORTING_YEAR : Reporting inspection year > 2000; < today
- TANK_NUM : Serial listing for multiple tanks ('first' tank = 1, etc.)
- INSPECTION_BY_FIRM = Name of professional inspecting firm
- INSPECTION_PERFORMED=Certifying inspection performed
- INSPECTION_DATE: date of inspection for results being reported
- GI_REQ_INTERNAL_STRUCTURE	: certifying inspection of tank internal structure
- GI_RESULT_INTERNAL_STRUCTURE : Certifying fitness of tank internal structure. N = No Unsanitary Conditions; A = Corrective Action Taken
- GI_REQ_EXTERNAL_STRUCTURE	: certifying inspection of tank external structure

- GI_RESULT_EXTERNAL_STRUCTURE	: Certifying fitness of tank external structure. N = No Unsanitary Conditions; A = Corrective Action Taken

- GI_REQ_OVERFLOW_PIPES	: certifying inspection of connected pipes

- GI_RESULT_OVERFLOW_PIPES	: Certifying fitness of connected pipes. N = No Unsanitary Conditions. A = Corrective Action Taken

- GI_REQ_ACCESS_LADDERS	: certifying inspection of access ladders

- GI_RESULT_ACCESS_LADDERS : Certifying fitness of access ladders. N = No Unsanitary Conditions; A = Corrective Action Taken

- GI_REQ_AIR_VENTS : certifying inspection of air vents

- GI_RESULT_AIR_VENTS : Certifying fitness of air vents. N = No Unsanitary Conditions; A = Corrective Action Taken

- GI_REQ_ROOF_ACCESS : Certifying inspection of roof access

- GI_RESULT_ROOF_ACCESS	: Certifying roof access. N = No Unsanitary Conditions; A = Corrective Action Taken

- SI_REQ_SEDIMENT:certifying inspection of tank for sediment

- SI_RESULT_SEDIMENT : Certifying condition of sediment. N = No Unsanitary Conditions; A = Corrective Action Taken

- SI_REQ_BIOLOGICAL_GROWTH	: Certifying inspection for biological growth

- SI_RESULT_BIOLOGICAL_GROWTH : Certifying condition of biological growth. N = No Unsanitary Conditions; A = Corrective Action Taken

- SI_REQ_DEBRIS_INSECTS	: certifying inspection for tank debris

- SI_RESULT_DEBRIS_INSECTS : Certifying condition re tank debris. N = No Unsanitary Conditions; A = Corrective Action Taken

- SI_REQ_RODENT_BIRD : certifying inspection of evidence of rodents or birds

- SI_RESULT_RODENT_BIRD	: Certifying condition for rodents or birds. N = No Unsanitary Conditions; A = Corrective Action Taken

- SAMPLE_COLLECTED : certifying water sample was collected

- LAB_NAME : Lab analyzing sample for this inspection

- NYS_CERTIFIED	: Confirming lab certifications

- ANALYTES : describing analysis performed. B = Bacterial; O=Other

- COLIFORM : Certifying lab analysis results for total coliform: A = Absent/None Detected; P = Present

- ECOLI	: Certifying lab analysis results for Ecoli: A = Absent/None Detected; P = Present

- MEET_STANDARDS : Certifying other analysis meets health standards.

- DELETED	
- LATITUDE	: Latitude of the water tank. Values calculated by DOHMH based on information provided in certification

- LONGITUDE	: Longitude of the water tank. Values calculated by DOHMH based on information provided in certification

- COMMUNITY_BOARD : The Community Board field indicates the New York City Community District where the water tank is located. Values calculated by DOHMH based on information provided in certification

- COUNCIL_DISTRICT	: The Council District field indicates the New York City Council District where the water tank is located. Values calculated by DOHMH based on information provided in certification

- CENSUS_TRACT : The Census Tract field indicates the U.S. Census Tract where the water tank is located. Values calculated by DOHMH based on information provided in certification

- BBL : The BBL (Borough, Block, and Lot) is a unique identifier for each tax lot in the City. Values calculated by DOHMH based on information provided in certification

- NTA : The Neighborhood Tabulation Area field indicates the New York City Neighborhood area where the water tank is located. Values calculated by DOHMH based on information provided in certification

- BATCH_DATE : Values calculated by DOHMH based on information provided in certification
Date & Time

In [9]:
# let's see the description of the dataset 
data.describe()

                BIN           ZIP  ...   CENSUS_TRACT           BBL
count  1.348400e+04  13484.000000  ...   13425.000000  1.342400e+04
mean   1.313438e+06  10156.861391  ...    3292.247598  1.270498e+09
std    7.700247e+05    360.171788  ...   11076.726650  7.290274e+08
min    1.000000e+06  10001.000000  ...       1.000000  0.000000e+00
25%    1.019876e+06  10016.000000  ...      80.000000  1.008430e+09
50%    1.041088e+06  10022.000000  ...     124.000000  1.012600e+09
75%    1.079908e+06  10038.000000  ...     194.000000  1.015083e+09
max    5.157402e+06  11694.000000  ...  155101.000000  5.028298e+09

[8 rows x 12 columns]

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13484 entries, 0 to 13483
Data columns (total 48 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   BIN                           13484 non-null  int64
 1   BOROUGH                       13484 non-null  object
 2   ZIP                           13484 non-null  int64
 3   HOUSE_NUM                     13484 non-null  object
 4   STREET_NAME                   13484 non-null  object
 5   BLOCK                         13484 non-null  int64
 6   LOT                           13484 non-null  int64
 7   CONFIRMATION_NUM              13484 non-null  object
 8   REPORTING_YEAR                13484 non-null  int64
 9   TANK_NUM                      13484 non-null  int64
 10  INSPECTION_BY_FIRM            13482 non-null  object
 11  INSPECTION_PERFORMED          13484 non-null  object
 12  INSPECTION_DATE               13483 non-null  object
 13  GI_REQ_INTERNAL_STRUCTURE     13484 non-null  object
 14  GI_RESULT_INTERNAL_STRUCTURE  13481 non-null  object
 15  GI_REQ_EXTERNAL_STRUCTURE     13484 non-null  object
 16  GI_RESULT_EXTERNAL_STRUCTURE  13481 non-null  object
 17  GI_REQ_OVERFLOW_PIPES         13484 non-null  object
 18  GI_RESULT_OVERFLOW_PIPES      13479 non-null  object
 19  GI_REQ_ACCESS_LADDERS         13484 non-null  object
 20  GI_RESULT_ACCESS_LADDERS      13478 non-null  object
 21  GI_REQ_AIR_VENTS              13484 non-null  object
 22  GI_RESULT_AIR_VENTS           13479 non-null  object
 23  GI_REQ_ROOF_ACCESS            13484 non-null  object
 24  GI_RESULT_ROOF_ACCESS         13472 non-null  object
 25  SI_REQ_SEDIMENT               13484 non-null  object
 26  SI_RESULT_SEDIMENT            13481 non-null  object
 27  SI_REQ_BIOLOGICAL_GROWTH      13484 non-null  object
 28  SI_RESULT_BIOLOGICAL_GROWTH   13478 non-null  object
 29  SI_REQ_DEBRIS_INSECTS         13484 non-null  object
 30  SI_RESULT_DEBRIS_INSECTS      13478 non-null  object
 31  SI_REQ_RODENT_BIRD            13484 non-null  object
 32  SI_RESULT_RODENT_BIRD         13478 non-null  object
 33  SAMPLE_COLLECTED              13484 non-null  object
 34  LAB_NAME                      13465 non-null  object
 35  NYS_CERTIFIED                 13466 non-null  object
 36  ANALYTES                      13456 non-null  object
 37  COLIFORM                      13456 non-null  object
 38  ECOLI                         13456 non-null  object
 39  MEET_STANDARDS                3717 non-null   object
 40  LATITUDE                      13425 non-null  float64
 41  LONGITUDE                     13425 non-null  float64
 42  COMMUNITY_BOARD               13425 non-null  float64
 43  COUNCIL_DISTRICT              13425 non-null  float64
 44  CENSUS_TRACT                  13425 non-null  float64
 45  BBL                           13424 non-null  float64
 46  NTA                           13425 non-null  object
 47  BATCH_DATE                    13484 non-null  object
dtypes: float64(6), int64(6), object(36)
memory usage: 4.9+ MB

In [11]:
# let's check the frequency of dtypes 

data.dtypes.value_counts()

object     36
int64       6
float64     6
dtype: int64

- here we can see the 12 numerical columns and 36 categorical/text columns are present 


### Let's explore the dataset